* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(86, 129, 83);
}

/*************************************** HEADER**************************************/
header {
    height: 300px;
}

#topo {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-size: 300px;
    background-position: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#topo img {
    width: 200px;
    height: 200px;
}

#topo h1 {
    font-family: "comic Neue", cursive;
    font-style: oblique;
    color: rgb(39, 44, 46);
    
}
#pesquisa {
    margin-top: 20px;
}

nav {
    text-align: center;
}

#pesquisa nav ul li {
    font-family: "comic Neue", cursive;
    background-color: rgb(209, 230, 209);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    list-style: none;
}
#pesquisa nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#pesquisa nav a {
    color: rgb(255, 0, 0);
}

/*************************************************main***********************************/

#info {
 background-size: 300px;
 background-color: rgb(233, 233, 233);
 border-radius: 30px;
 background-position: 50px;
 width: 1200px;
 height: 125px;
 text-align: center;
 margin: 0 auto;
 font-family: "comic Neue", cursive;
    font-style: oblique;
    color: rgb(39, 44, 46);
}
#info a
{
    font-size: 30px;
    border: 20px;
    border-color: black;
color: rgb(255, 255, 255);
background-color: rgb(255, 0, 0);
border-radius: 5px;
}
#info h1{
    color: rgb(70, 94, 46);
}
#sobre
{
    background-size: 300px;
 background-color: rgb(233, 233, 233);
 border-radius: 30px;
 width: 1200px;
 height: 90px;
 text-align: center;
 margin: 0 auto;
 margin-top: 10px;
 font-family: "comic Neue", cursive;
    font-style: oblique;
    color: rgb(39, 44, 46);
}
#sobre h2{
    color: rgb(70, 94, 46);
}
#programa
{
    background-size: 300px;
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    width: 1200px;
    height: 125px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-family: "comic Neue", cursive;
       font-style: oblique;
       color: rgb(39, 44, 46);
       
}
#programa h2{
    color: rgb(70, 94, 46);
}
#programa li{
    list-style: none;
}
#palestrantes 
{
    background-size: 300px;
 background-color: rgb(233, 233, 233);
 border-radius: 30px;
 width: 1200px;
 height: 300px;
 margin: 0 auto;
 margin-top: 10px;
 font-family: "comic Neue", cursive;
    font-style: oblique;
    color: rgb(39, 44, 46);
    display: flex;
}
#palestrantes img{
    border-radius: 200px;
    height: 100px;
}
.grid{
    display: flex;
    align-items: center;
    
}


